<section class="main-section team" id="company"><!--main-section team-start-->
	<div class="container">
        <h2>Our Company</h2>
        <h6>We are an innovative technology solutions and service provider headquartered in London, UK.</h6>
        <div class="team-leader-block clearfix">
            <div class="team-leader-box">
                <div class="team-leader wow fadeInDown delay-03s"> 
                    <div class="team-leader-shadow"><a href="#"></a></div>
                    <img src="assets/images/team-leader-pic1.jpg" alt="">                    
                </div>
                <h3 class="wow fadeInDown delay-03s">Innovative</h3>
                <p class="wow fadeInDown delay-03s">Our inspired team of professionals are motivated by finding innovative solutions to challenges that businesses face.</p>
            </div>
            <div class="team-leader-box">
                <div class="team-leader  wow fadeInDown delay-06s"> 
                    <div class="team-leader-shadow"><a href="#"></a></div>
                    <img src="assets/images/team-leader-pic2.jpg" alt="">                    
                </div>
                <h3 class="wow fadeInDown delay-06s">Satisfaction</h3>                
               <p class="wow fadeInDown delay-06s"> A vital constituent of our business is to offer our clients a top level of client satisfaction, which has been the driving force behind our continued growth and success.</p>
            </div>
            <div class="team-leader-box">
                <div class="team-leader wow fadeInDown delay-09s"> 
                    <div class="team-leader-shadow"><a href="#"></a></div>
                    <img src="assets/images/team-leader-pic3.jpg" alt="">                    
                </div>
                <h3 class="wow fadeInDown delay-09s">Business Needs</h3>
                <p class="wow fadeInDown delay-09s">With partnering and continuing to work closely with the most innovative I.T companies throughout the globe, our people and solutions can help resolve the most complicated business needs.</p>
            </div>
        </div>
    </div>
</section><!--main-section team-end-->